/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  /* color */

  --clr-primary-pink: hsl(322, 100%, 66%);
  --clr-primary-light-pink: hsl(321, 100%, 78%);
  --clr-primary-light-red: hsl(0, 100%, 63%);

  --clr-neutral-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-neutral-very-pale-blue: hsl(207, 100%, 98%);

  /* font */

  --ff-body: "Open Sans", sans-serif;
  --ff-headings: "Poppins", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* typography */
html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  /* 16px */
  font-size: 1.6em;

  /* font-weight:         
    font-family: var(--ff-primary);
    min-height: 100vh;
    background-color: var(--color-main-bg);  */
}

img {
  max-width: 100%;
  display: block;
}

/* apply spacing for all paragraph text */
p {
  line-height: 1.7;
}

/* debug purpose only */

header,
footer,
article,
img {
  border: 1px solid red;
}
/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* Component 1 grid areas */
.header-component {
  grid-area: header-component;
}

.header-component__image-section {
  grid-area: header-component__image-section;
}

.header-component__info-section {
  grid-area: header-component__info-section;
}

/* Component 2 grid areas */
.screen-mockups-component {
  grid-area: screen-mockups-component;
}

/* Component 3 grid areas */
.stats-component {
  grid-area: stats-component;
}

.stats-component__communities-count {
  grid-area: stats-component__communities-count;
}

.stats-component__messages-count {
  grid-area: stats-component__messages-count;
}

/* Component 4 grid areas */

.grow-together-component {
  grid-area: grow-together-component;
}

/* Component 5 grid areas */

.conversations-component {
  grid-area: conversations-component;
}

/* Component 6 grid areas */
.your-users-component {
  grid-area: your-users-component;
}

/* Component 7 grid areas */

.build-community-component {
  grid-area: build-community-component;
}

/* Component 8 grid areas */
.footer-component {
  grid-area: footer-component;
}

.footer-component__newsletter-section {
  grid-area: footer-component__newsletter-section;
}

.footer-component__company-info-section {
  grid-area: footer-component__company-info-section;
}

.contact-us-section {
  grid-area: contact-us-section;
}

.contact-us-section__phone {
  grid-area: contact-us-section__phone;
}

.contact-us__email {
  grid-area: contact-us__email;
}

/* Component 9 grid areas */

.footer-component__social-section {
  grid-area: footer-component__social-section;
}
