/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  /* color */

  --clr-primary-pink: hsl(322, 100%, 66%);
  --clr-primary-light-pink: hsl(321, 100%, 78%);
  --clr-primary-light-red: hsl(0, 100%, 63%);

  --clr-neutral-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-neutral-very-pale-blue: hsl(207, 100%, 98%);

  /* font */

  --ff-body: "Open Sans", sans-serif;
  --ff-headings: "Poppins", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* typography */
html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  /* 16px */
  font-size: 1.6em;

  /* font-weight:         
    font-family: var(--ff-primary);
    min-height: 100vh;
    background-color: var(--color-main-bg);  */
}

img {
  max-width: 100%;
  display: block;
}

/* apply spacing for all paragraph text */
p {
  line-height: 1.7;
}

/* debug purpose only */

header,
footer,
article,
img {
  /* border: 1px solid red; */
}
/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ?? Utility classes for font, color to keep CSS DRY */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-component"
    "screen-mockups-component"
    "stats-component"
    "grow-together-component"
    "conversations-component"
    "your-users-component"
    "build-community-component"
    "footer-component";
  gap: 10rem;

  width: 37.5rem; /* value as per style guide */
}

/* Componet 1 */
.header-component {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-component__image-section"
    "header-component__info-section";
  gap: 4rem;
}

.header-component__image-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.2rem 0 1.2rem;
}

.header-component__image-section > img {
  width: 30%;
  height: 18px;
}

.header-component__image-section > button {
  width: 25%;
  background-color: white;
  border-radius: 3rem;
  border: 1px solid pink;
  padding: 0.2rem 0;
}

.header-component__info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.header-component__info-section > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.3rem;

  padding: 0 4rem;

  text-align: center;
}

.header-component__info-section > p {
  line-height: 2.4rem;
  padding: 0 3.2rem;
  text-align: center;
}

.header-component__info-section > button {
  background-color: pink;
  color: white;
  border-radius: 3rem;
  padding: 0.9rem 3.6rem;
}

/* Componet 2 */
.screen-mockups-component {
  width: 90%;
  justify-self: center;
}

/* Componet 3 */
.stats-component {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
}

.stats-component__communities-count {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.stats-component__communities-count > img {
  width: 18%;
}

.stats-component__communities-count > h2 {
  font-size: 6rem;
  font-weight: bold;
}

.stats-component__communities-count > p {
  font-size: 1.8rem;
}

.stats-component__messages-count {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.stats-component__messages-count > img {
  width: 18%;
}

.stats-component__messages-count > h2 {
  font-size: 6rem;
  font-weight: bold;
}

.stats-component__messages-count > p {
  font-size: 1.8rem;
}

/* Componet 4 */
/* Componet 5 */
/* Componet 6 */
.grow-together-component__main,
.your-users-component__main {
  background-color: var(--clr-neutral-very-pale-blue);

  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;

  padding: 8rem 0 6rem 0;
}

.conversations-component {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
}

.your-users-component__main {
  padding: 4rem 0 6rem 0;
}

.grow-together-component__main > section,
.your-users-component__main > section,
.conversations-component > section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  text-align: center;
}

.grow-together-component__main > img,
.your-users-component__main > img,
.conversations-component > img {
  width: 80%;
}

.grow-together-component__main > section > h2,
.your-users-component__main > section > h2,
.conversations-component > section > h2 {
  font-size: 2rem;
  font-weight: bold;
}

.grow-together-component__main > section > p,
.your-users-component__main > section > p,
.conversations-component > section > p {
  padding: 0 2rem;
  line-height: 1.45;
}

/* Componet 7 */
.build-community-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.build-community-component > h2 {
  font-size: 2.8rem;
  font-weight: bold;

  line-height: 1.4;

  text-align: center;
}

.build-community-component > button {
  padding: 1rem 2.8rem;
  border-radius: 2rem;
  background-color: pink;
  border: none;
  color: white;
}

/* Componet 8 */
.footer-component {
  background: linear-gradient(to top, hsl(192, 100%, 9%), hsl(192, 100%, 9%))
    no-repeat 0px 5.3rem;
  color: white;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "footer-component__footer-top-img"
    "footer-component__newsletter-section"
    "footer-component__company-info-section"
    "contact-us-section"
    "footer-component__social-section";
  gap: 4rem;
}

.footer-component__newsletter-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem 4rem;
}

.footer-component__newsletter-section > h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
}

.footer-component__newsletter-section > input {
  height: 4.2rem;
  border-radius: 1rem;
}

.footer-component__newsletter-section > button {
  height: 4.2rem;
  width: 50%;
  align-self: end;
  background-color: pink;
  color: white;
  border-radius: 1rem;
}

.footer-component__newsletter-section > label {
  display: none;
}

.footer-component__company-info-section,
.contact-us-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 4rem;
}

.contact-us-section__phone,
.contact-us__email {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.contact-us-section__phone > img,
.contact-us__email > img {
  width: 8%;
  height: 77%;
}

.footer-component__social-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  padding: 0 4rem 4rem 4rem;
}

.footer-component__social-section > i {
  font-size: 3rem;
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* Component 1 grid areas */
.header-component {
  grid-area: header-component;
}

.header-component__image-section {
  grid-area: header-component__image-section;
}

.header-component__info-section {
  grid-area: header-component__info-section;
}

/* Component 2 grid areas */
.screen-mockups-component {
  grid-area: screen-mockups-component;
}

/* Component 3 grid areas */
.stats-component {
  grid-area: stats-component;
}

.stats-component__communities-count {
  grid-area: stats-component__communities-count;
}

.stats-component__messages-count {
  grid-area: stats-component__messages-count;
}

/* Component 4 grid areas */

.grow-together-component {
  grid-area: grow-together-component;
}

/* Component 5 grid areas */

.conversations-component {
  grid-area: conversations-component;
}

/* Component 6 grid areas */
.your-users-component {
  grid-area: your-users-component;
}

/* Component 7 grid areas */

.build-community-component {
  grid-area: build-community-component;
}

/* Component 8 grid areas */
.footer-component {
  grid-area: footer-component;
}

.footer-component__footer-top-img {
  grid-area: footer-component__footer-top-img;
}

.footer-component__newsletter-section {
  grid-area: footer-component__newsletter-section;
}

.footer-component__company-info-section {
  grid-area: footer-component__company-info-section;
}

.contact-us-section {
  grid-area: contact-us-section;
}

.contact-us-section__phone {
  grid-area: contact-us-section__phone;
}

.contact-us__email {
  grid-area: contact-us__email;
}

.footer-component__social-section {
  grid-area: footer-component__social-section;
}
