/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  /* color */

  --clr-primary-pink: hsl(322, 100%, 66%);
  --clr-primary-light-pink: hsl(321, 100%, 78%);
  --clr-primary-light-red: hsl(0, 100%, 63%);

  --clr-neutral-very-dark-cyan: hsl(192, 100%, 9%);
  --clr-neutral-very-pale-blue: hsl(207, 100%, 98%);

  /* font */

  --ff-body: "Open Sans", sans-serif;
  --ff-headings: "Poppins", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* typography */
html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  /* 16px */
  font-size: 1.6em;

  /* font-weight:         
    font-family: var(--ff-primary);
    min-height: 100vh;
    background-color: var(--color-main-bg);  */
}

img {
  max-width: 100%;
  display: block;
}

/* apply spacing for all paragraph text */
p {
  line-height: 1.7;
}

/* debug purpose only */

header,
footer,
article,
img {
  /* border: 1px solid red; */
}
/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-component"
    "screen-mockups-component"
    "stats-component"
    "grow-together-component"
    "conversations-component"
    "your-users-component"
    "build-community-component"
    "footer-component";
  gap: 4rem;

  width: 37.5rem; /* value as per style guide */
}

/* Componet 1 */
.header-component {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-component__image-section"
    "header-component__info-section";
  gap: 4rem;
}

.header-component__image-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
}

.header-component__image-section > img {
  width: 30%;
  height: 18px;
}

.header-component__image-section > button {
  width: 25%;
  background-color: white;
  border-radius: 3rem;
  border: 1px solid pink;
  padding: 0.2rem 0;
}

.header-component__info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.header-component__info-section > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.3rem;

  padding: 0 4rem;

  text-align: center;
}

.header-component__info-section > p {
  line-height: 2.4rem;
  padding: 0 3.2rem;
  text-align: center;
}

.header-component__info-section > button {
  background-color: pink;
  color: white;
  border-radius: 3rem;
  padding: 0.9rem 3.6rem;
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* Component 1 grid areas */
.header-component {
  grid-area: header-component;
}

.header-component__image-section {
  grid-area: header-component__image-section;
}

.header-component__info-section {
  grid-area: header-component__info-section;
}

/* Component 2 grid areas */
.screen-mockups-component {
  grid-area: screen-mockups-component;
}

/* Component 3 grid areas */
.stats-component {
  grid-area: stats-component;
}

.stats-component__communities-count {
  grid-area: stats-component__communities-count;
}

.stats-component__messages-count {
  grid-area: stats-component__messages-count;
}

/* Component 4 grid areas */

.grow-together-component {
  grid-area: grow-together-component;
}

/* Component 5 grid areas */

.conversations-component {
  grid-area: conversations-component;
}

/* Component 6 grid areas */
.your-users-component {
  grid-area: your-users-component;
}

/* Component 7 grid areas */

.build-community-component {
  grid-area: build-community-component;
}

/* Component 8 grid areas */
.footer-component {
  grid-area: footer-component;
}

.footer-component__newsletter-section {
  grid-area: footer-component__newsletter-section;
}

.footer-component__company-info-section {
  grid-area: footer-component__company-info-section;
}

.contact-us-section {
  grid-area: contact-us-section;
}

.contact-us-section__phone {
  grid-area: contact-us-section__phone;
}

.contact-us__email {
  grid-area: contact-us__email;
}

.footer-component__social-section {
  grid-area: footer-component__social-section;
}
